.container{
    width: 100vw;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.my-form{
    text-align: center;
    margin-top: -300px;
}
.my-form input{
    display: block;
}
.error{
    padding: 0;
    margin-left: 600px;
    margin-top: 50px;
}
.error p{
    color: red !important;

}